.annotation
  padding: 20px 0 0
  margin: 0 auto

  span
    margin: 10px 0 0 0

  .subject
    display: flex
    align-items: center
    justify-content: space-between

    @media screen and (max-width: 870px)
      justify-content: space-around

    @media screen and (max-width: 870px)
      flex-wrap: wrap

    .loading-spinner
      width: 100%
      max-width: 930px
      height: 64px
      margin: 241.5px 0
      display: inline-block
      position: absolute
      z-index: 10
      color: $topbar-green
      line-height: 64px

    .guide-btn, .favorite-btn
      font-size: 12px
      line-height: 12px
      color: #5c5c5c
      text-align: center
      margin: 5px 0
      background: transparent
      width: 80px

      &:before
        content: ''
        display: block
        text-align: center
        border-radius: 50%
        width: 56px
        height: 56px
        margin: 0 auto 5px

      &.disabled
        opacity: 0.5

    .guide-btn
      &:before
        background: $blackish url(./assets/guide-icon.svg) no-repeat center center

      @media screen and (max-width: 870px)
        order: 2
        margin: 0 0 25px

    .favorite-btn
      &:before
        background: $blackish url(./assets/fav-icon.svg) no-repeat center center

      &.disabled:before
        background-image: url(./assets/fav-icon-disabled.svg)

      @media screen and (max-width: 870px)
        order: 3
        margin: 0 0 25px

    .guide-open:before
      background-image: url(./assets/cancel-icon.svg)

    .favorited:before
      background-image: url(./assets/fav-icon-filled.svg)

    .preview-imgs
      margin-bottom: 10px
      width: 100%
      max-width: 930px
      height: 100%
      min-height: 410px
      display: block

      figure
        margin: 0
        max-width: 33.33%
        float: left
        transition: all 0.2s

        @media screen and (max-width: 600px)
          min-width: 100%

        img
          padding: 5px
          border: .1px solid transparent //IE fix
          border-radius: 8px
          width: 100%
          max-width: 310px
          box-sizing: border-box
          vertical-align: top

          @media screen and (max-width: 600px)
            max-width: 100%

      .animating-in
        animation: fadeIn 0.1s forwards

      .animating-out
        animation: slideOut 0.75s forwards

      .zoom-image
        max-width: inherit
        margin-top: 95px
        transition: max-width 0s 0s, margin-top 0s 0s linear

      .fade-out
        visibility: hidden
        opacity: 0
        transition: visibility 0s .25s, opacity .25s linear

    .adjust-width
      width: 310px
      margin: 0 auto 10px
      transition: width 0 .25s, margin 0 .25s linear

    .video
      margin: 10px auto

      @media screen and (max-width: 870px)
        width: 98%
        order: 1
        align-self: center

      @media screen and (max-width: 600px)
        margin-bottom: 25px

      video, img // placeholder img
        width: 100%
        max-width: 930px
        border-radius: 8px

@keyframes slideOut {
  0% { width: 100%; }
  100% { width: 0%;}
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

