.classify
  max-width: 1070px
  width: 100%
  margin: 0 auto
  padding: 95px 0
  color: white

  .hidden-chimp
    position: absolute
    z-index: -1
    right: 20px
    bottom: 182px

  .tutorial-btn
    display: none






