.classify
  padding: 20px 0
  color: white

  .hidden-chimp
    position: absolute
    z-index: 0
    right: 20px
    bottom: 304px
    transition: all 0.5s ease

    &:hover
      bottom: 330px

  .tutorial-btn
    display: none

  .location-container
    p
      background: $blackish
      margin: 0 auto
      border-radius: 8px
      width: 98%
      max-width: 930px
      box-sizing: border-box
      line-height: 50px

      &:before
        content: ''
        background-color: $light-gray
        width: 60px
        height: 50px
        display: inline-block
        float: left
        border-bottom-left-radius: 8px
        border-top-left-radius: 8px
        margin-right: 20px






