.classify
  max-width: 1070px
  width: 100%
  margin: 0 auto
  padding: 95px 0
  color: white

  .hidden-chimp
    position: absolute
    z-index: -1
    right: 20px
    bottom: 182px

  .tutorial-btn
    display: none

  .guide
    top: 0
    left: -400px
    width: 400px
    height: 100%
    position: absolute
    background-color: #e4f3e4
    padding: 20px
    box-sizing: border-box
    color: #3b413b
    overflow-y: scroll

    header
      background-color: #424a42
      position: absolute
      top: 0
      left: 0
      width: 400px
      height: 100px
      text-align: center

      h2
        font-size: 18px
        font-weight: 500
        line-height: 100px
        margin: 0
        color: white
        letter-spacing: 3px
        text-transform: uppercase

    section
      margin-top: 100px

      .close-guide-btn
        text-decoration: none
        font-size: 14px
        background-color: transparent
        color: #3b413b
        border-radius: 0
        margin: 0
        padding: 0
        vertical-align: middle
        position: absolute
        top: 123px
        left: 20px

        .back-icon
          margin: 0 5px

      h2
        font-size: 18px
        line-height: 24px
        font-weight: 500
        margin: 30px 0 0 0
        text-align: center
        letter-spacing: 3px
        text-transform: uppercase

      h3
        font-family: DroidSerif, serif
        font-size: 15px
        font-style: italic
        font-weight: 400
        line-height: 24px
        margin: 0 0 1em 0
        text-align: center

      img
        border-radius: 8px

      p
        color: #3b413b
        font-family: DroidSerif, serif

      figcaption
        text-align: center

      figure
        margin: 1em 0




