.no-scroll
  overflow-y: hidden
  height: auto

html, body
  font-family: 'Nunito', sans-serif
  margin: 0
  background-color: $gray
  background-image: url(./assets/bg-fill.png)

  #wrapper
    width: 100%
    height: 100%
    position: relative
    -webkit-transform: translateX(0)
    transform: translateX(0)
    -webkit-transition: .3s ease all
    transition: .3s ease all
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

  .scroll
    overflow: scroll
    height: 100vh

  .push-right
    transform: translateX(400px) !important

  .bold
    font-weight: 700

  .loading-spinner
    text-align: center

  #app
    .content
      width: 100%
      max-width: 1100px
      margin: 0 auto
      box-sizing: border-box

      @media screen and (min-width: 1440px)
        &.open-guide
          margin: 0

      @media screen and (max-width: 768px)
        max-width: 768px

      @media screen and (max-width: 400px)
        max-width: 400px

  .show
    display: block

  .hide
    display: none !important

  .hidden
    visibility: hidden

  .full-opacity
    opacity: 1 !important

  p
    font-size: 16px
    font-weight: 400
    line-height: 24px

  a, img
    outline: none
    border: 0

  button
    border-radius: 6px
    background-color: transparent
    color: white
    border: none
    margin: 10px
    cursor: pointer
    font-family: Nunito, sans-serif

    &:focus, &:active, &:visited
      outline: none
      background-color: transparent

  .disabled
    cursor: not-allowed

  .zooniverse-top-bar
    background: $green
    color: $mint
    left: 0
    text-align: left
    height: 0
    position: relative
    z-index: 1

    .corner
      display: none

    .zooniverse-info
      display: none

    .no-user
      .sign-in
        position: absolute
        top: 25px
        right: 10px

        @media screen and (max-width: 768px)
          top: 25px
          right: 5px
          width: 90px
          text-align: right

    .current-user
      position: absolute
      top: 20px
      right: 10px

      @media screen and (max-width: 768px)
        right: 5px
        width: 120px
        text-align: right

      img
        border-radius: 50%

  #footer
    height: 100%

  .zooniverse-footer
    background-color: #1f1f1f
    color: #eae9e9
    padding: 20px
    position: relative

    .zooniverse-logo-container
      display: block
      width: 100%
      text-align: center

      .zooniverse-logo
        width: 90px
        margin-bottom: 30px

    .zooniverse-footer-content
      float: none
      width: 100%
      max-width: 920px
      margin: 0 auto

      .zooniverse-footer-heading
        max-width: 720px
        margin: 0 auto 20px
        text-align: center
        font-size: 16px

.zooniverse-dialog .underlay .container .dialog
  @media screen and (max-width: 400px)
    max-width: 50%