html, body
  font-family: 'Nunito', sans-serif
  overflow-x: hidden
  margin: 0
  background-color: $gray
  background-image: url(/assets/bg-fill.png)

  #wrapper
    width: 100%
    height: 100%
    position: relative
    -webkit-transform: translateX(0)
    transform: translateX(0)
    -webkit-transition: .3s ease all
    transition: .3s ease all

  .push-right
    transform: translateX(400px) !important

  #app
    min-height: 100%
    margin-bottom: -395px

    &:after
      content: ""
      display: block

    .content
      width: 100%
      max-width: 1070px
      margin: 0 auto
      box-sizing: border-box

      @media screen and (max-width: 768px)
        max-width: 768px

      @media screen and (max-width: 400px)
        max-width: 400px

  .show
    display: block

  .hide
    display: none !important

  .hidden
    visibility: hidden

  p
    font-size: 16px
    font-weight: 400
    line-height: 24px
    color: $copy-gray
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

  button
    border-radius: 6px
    background-color: $green
    color: white
    border: none
    margin: 10px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    cursor: pointer

    &:focus
      outline: none

  .disabled
    cursor: not-allowed

  .zooniverse-top-bar
    background: $topbar-green
    color: $mint
    left: 0
    text-align: left
    height: 30px
    position: relative
    z-index: 1

    .corner
      display: none

    .no-user
      .sign-in
        position: absolute
        top: 55px
        right: 10px

    .current-user
      position: absolute
      top: 50px
      right: 10px

      img
        border-radius: 50%

  #footer, #app:after
    height: 395px

  #footer
    .zooniverse-footer
      background-color: #1f1f1f
      color: #eae9e9
      padding: 20px
      position: relative

      .zooniverse-logo-container
        display: block
        width: 100%
        text-align: center

        .zooniverse-logo
          width: 90px
          margin-bottom: 30px

      .zooniverse-footer-content
        float: none
        width: 100%
        max-width: 920px
        margin: 0 auto

        .zooniverse-footer-heading
          max-width: 720px
          margin: 0 auto 20px
          text-align: center
          font-size: 16px

