.guide
  top: 0
  left: -400px
  width: 100%
  max-width: 400px
  height: 100vh
  position: absolute
  background-color: #e4f3e4
  box-sizing: border-box
  color: #3b413b
  overflow: auto
  -ms-overflow-style: none
  -webkit-overflow-scrolling: touch
  
  @media screen and (max-width: 768px)
    height: 100%

  .guide-header
    background: url(./assets/guide/guide-background.jpg)
    position: relative
    display: block
    width: 100%
    max-width: 400px
    height: 100px
    text-align: center

    &:after
      content: ""
      background: black
      opacity: 0.8
      width: 100%
      max-width: 400px
      height: 100px
      top: 0
      left: 0
      position: absolute
      z-index: 0

    h2
      font-size: 18px
      font-weight: 500
      line-height: 100px
      margin: 0
      color: white
      letter-spacing: 3px
      text-transform: uppercase
      position: relative
      z-index: 1
      opacity: 1

    .close-guide-btn
      position: absolute
      top: 5px
      right: 5px
      background-color: transparent
      z-index: 10
      font-size: 12px
      -webkit-font-smoothing: initial

  .animal-list
    z-index: 1
    position: absolute
    top: 100px
    width: 100%
    max-width: 400px

    .nav-header
      width: 100%
      max-width: 400px
      height: 80px
      background-color: $dark-gray
      background-image: none
      color: white
      line-height: 80px
      text-align: center

    .animal-list-item
      height: 80px
      color: #424a42
      list-style: none
      text-align: left
      line-height: 80px
      font-size: 18px
      cursor: pointer
      background-color: #e4f3e4
      text-transform: capitalize
      display: flex

      &:nth-child(odd)
        background-color: #cce8cc

      .tooltip
        display: inline-block
        background-image: url(./assets/chimps-tooltip-sprite.jpg)
        width: 75px
        height: 75px
        border-radius: 50%
        margin: 2.5px 30px

        &#animal-0
          background-position: 0px 0px

        &#animal-1
          background-position: 0px -75px

        &#animal-2
          background-position: 0px -150px

        &#animal-3
          background-position: 0px -225px

        &#animal-4
          background-position: 0px -300px

        &#animal-5
          background-position: 0px -375px

        &#animal-6
          background-position: 0px -450px

        &#animal-7
          background-position: 0px -525px

        &#animal-8
          background-position: 0px -600px

        &#animal-9
          background-position: 0px -675px

        &#animal-10
          background-position: 0px -750px

        &#animal-11
          background-position: 0px -820px

        &#animal-12
          background-position: 0px -900px

        &#animal-13
          background-position: 0px -975px

        &#animal-14
          background-position: 0px -1050px

        &#animal-15
          background-position: 0px -1650px

        &#animal-16
          background-position: 0px -1125px

        &#animal-17
          background-position: 0px -1200px

        &#animal-18
          background-position: 0px -1275px

        &#animal-19
          background-position: 0px -1350px

        &#animal-20
          background-position: 0px -1425px

        &#animal-21
          background-position: 0px -1500px

        &#animal-22
          background-position: 0px -1575px

        &#animal-23
          background-position: 0px -1725px

        &#animal-24
          background-position: 0px -1800px

        &#animal-25
          background-position: 0px -1875px

        &#animal-26
          background-position: 0px -1950px

        &#animal-27
          background-position: 0px -2025px

  .details
    padding: 20px
    height: 100%

    .feature-image
      width: 100%
      border-radius: 8px

    .back-guide-btn
      text-decoration: none
      font-size: 14px
      background-color: transparent
      color: #3b413b
      border-radius: 0
      margin: 0
      padding: 0
      vertical-align: middle
      position: absolute
      top: 123px
      left: 20px

      .back-icon
        margin: 0 5px

    .animal-name
      font-size: 18px
      line-height: 24px
      font-weight: 500
      margin: 0
      text-align: center
      letter-spacing: 3px
      text-transform: uppercase

    .animal-taxonomy
      font-family: DroidSerif, serif
      font-size: 15px
      // font-style: italic
      font-weight: 400
      line-height: 24px
      margin: 0 0 1em 0
      text-align: center

    .images-header
      text-align: center
      font-weight: 400

    p
      color: #3b413b
      font-family: DroidSerif, serif

    figure
      margin: 1em 0

      figcaption
        text-align: left
        font-size: 12px

      img
        border-radius: 8px
        width: 100%

    div h4
      text-align: center
      font-weight: 400
