.home
  min-height: 800px

  .color-overlay
    background-color: rgba(0, 0, 0, 0.75)
    background-size: cover
    position: absolute
    top: 30px
    left: 0
    z-index: 0
    min-height: 900px
    max-height: 1250px
    width: 100%
    height: 100%

  .home-content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    color: white
    position: relative
    z-index: 10

    h1
      margin: 190px 0 0
      font-size: 60px
      display: inline

      @media screen and (max-width: 400px)
        font-size: 35px

      .amp
        font-size: 120px
        display: inline-block
        vertical-align: middle

        @media screen and (max-width: 400px)
          font-size: 70px

    p
      max-width: 600px
      text-align: center

    .get-started-link
      text-decoration: none
      color: #eae9e9
      background-color: #1b865c
      border-radius: 6px
      width: 98%
      max-width: 420px
      line-height: 60px
      font-size: 16px
      font-weight: 700
      text-align: center
      margin: 60px 0 0
      display: block

    .learn-more-link
      display: block
      text-decoration: underline
      margin: 50px 0 0
      font-weight: 400
      color: #eae9e9

      &:visited
        color: #eae9e9
