@require 'nib'
@import url(http://fonts.googleapis.com/css?family=Nunito:400,700);
@import '../node_modules/zooniverse/css/zooniverse.css'

@import './colors'
@import './common'

@import './navigation'

@import './classify'
@import './annotation'
@import './notes'
@import './step'
@import './slideTutorial'