.site-navigation
  background-color: $topbar-green
  width: 100%
  height: 70px

  @media screen and (max-width: 710px)
    text-align: center

  .mobile-menu
    width: 15px
    display: none
    vertical-align: middle
    cursor: pointer

    @media screen and (max-width: 710px)
      display: inline-block
      position: absolute
      z-index: 30
      top: 4.5px
      left: 4.5px
      padding: 22.5px 20px

    @media screen and (max-width: 320px)
      width: 55px

      .mobile-menu-title
        font-size: 12px
        vertical-align: top
        margin-left: 5px
        color: #424242

    .menu-icon
      .bars
        fill: #424242

      @media screen and (max-width: 320px)
        width: 15px
        height: 15px

  .logo-link
    line-height: 70px
    position: relative
    z-index: 30

    .logo
      vertical-align: middle
      margin: 0 20px
      outline: none
      width: 161px

      @media screen and (max-width: 710px)
        margin: 0

      @media screen and (max-width: 320px)
        width: 95px

  .menu-list
    transition: .3s ease all
    background-color: transparent
    display: inline

    a
      display: inline-block
      width: 90px
      color: $light-gray
      font-size: 16px
      font-weight: 400
      line-height: 35px
      text-decoration: none
      text-align: center
      margin: 15.5px 0

      &:visited
        color: $light-gray

      &.active
        color: white
        border: solid 2px $green
        border-radius: 6px

  @media screen and (max-width: 710px)
    .menu-list
      position: relative
      top: -70px
      padding: 0
      display: block
      height: 0

      a
        display: none

      &.show-menu
        height: 300px
        z-index: 20
        padding: 80px 0 0

        a
          display: block
          margin: 17px auto
          position: relative
          z-index: 20

  .green-background
    background-color: $topbar-green

  .chimpster
    position: absolute
    right: 25%
    opacity: 0
    transition: all 0.3s linear

    &:hover
      opacity: 1

    @media screen and (max-width: 1199px)
      display: none