.profile
  margin: 0 auto !important
  color: #eae9e9
  height: 100%

  .loading-spinner
    height: 200px
    line-height: 200px

  section
    background: $dark-gray
    height: 100%
    min-height: 200px
    padding: 20px

    &:nth-child(odd)
      background: $blackish

  .profile-status
    display: flex
    align-items: center
    text-align: center

    .greeting
      color: $green
      font-size: 24px
      font-weight: 400

    .classification-count, .favorite-count
      display: inline-block
      padding: 10px 20px

      p
        margin: 5px
        font-size: 24px

  button
    width: 120px
    line-height: 25px
    font-size: 14px
    font-weight: 700
    background: transparent
    border: 2px solid $green

    &:hover, &.active
      background: $green

  .items
    figure
      width: 33%
      margin: 0
      display: inline-block
      position: relative
      padding: 2.5px
      box-sizing: border-box

      @media screen and (max-width: 768px)
        width: 100%

      video
        width: 100%
        border-radius: 8px
        background: black
        height: calc((4/3)*18.5vh)

        @media screen and (max-width: 768px)
          height: auto

      figcaption
        visibility: visible
        position: absolute
        z-index: 1
        top: 0
        right: 0
        background: rgba(0, 0, 0, .7)
        width: 100%
        height: 0px
        border-top-right-radius: 8px
        border-top-left-radius: 8px
        transition: visibility .25s 0s, height .25s 0s linear

        @media screen and (max-width: 768px)
          position: relative
          height: 50px
          border-top-left-radius: 0px
          border-top-right-radius: 0px

        .share
          text-align: center

          p
            display: none

        a, button, i
          visibility: hidden
          transition: visibility 0s .15s linear

          @media screen and (max-width: 768px)
            visibility: visible

        button
          border: none
          width: 30px

          &.discuss-btn
            span
              display: none

          &:hover
            background: transparent

      &:hover
        figcaption
          visibility: visible
          height: 50px

          a, button, i
            visibility: visible

  .profile-sign-in
    display: flex
    align-items: flex-start
    // height: calc(100vh - 495px)

    p
      text-align: center

    a, a:visited
      color: white
      text-decoration: underline
      cursor: pointer

    #sign-in-form
      margin: 0 auto
      width: 100%
      max-width: 400px
      text-align: center

      label
        display: block
        margin: 20px 0

      input
        width: 100%
        border: 0
        background-color: transparent
        outline: 2px solid $topbar-green
        font-size: 18px
        padding: 10px
        color: white
        box-sizing: border-box

        &:focus
          outline: 4px solid $topbar-green
          outline-offset: 0

        @media screen and (max-width: 400px)
          max-width: 310px

