.profile
  margin: 0 auto !important
  color: #eae9e9

  section
    background: $dark-gray
    height: 100%
    padding: 20px

    &:nth-child(odd)
      background: $blackish

  .profile-status
    display: flex
    align-items: center
    text-align: center
    min-height: 200px

    .greeting
      color: $green
      font-size: 24px
      font-weight: 400

    .classification-count, .favorite-count
      display: inline-block
      padding: 10px 20px

      p
        margin: 5px
        font-size: 24px

  button
    width: 120px
    line-height: 25px
    font-size: 14px
    font-weight: 700
    background: transparent
    border: 2px solid $green

    &:hover, &.active
      background: $green

  .items
    figure
      width: 33%
      margin: 0
      display: inline-block
      position: relative
      padding: 2.5px
      box-sizing: border-box

      @media screen and (max-width: 600px)
        width: 100%

      video
        width: 100%
        max-height: 179px
        border-radius: 16px

      figcaption
        visibility: visible
        position: absolute
        z-index: 1
        top: 0
        right: 0
        background: rgba(0, 0, 0, .7)
        width: 100%
        height: 0px
        border-top-right-radius: 16px
        border-top-left-radius: 16px
        transition: visibility .25s 0s, height .25s 0s linear

        .share
          text-align: center

          p
            display: none

        a, button, i
          visibility: hidden
          transition: visibility 0s .15s linear

        button
          border: none
          width: initial

          &:hover
            background: transparent

        &.show
          visibility: visible
          height: 50px

          a, button, i
            visibility: visible

  .profile-sign-in
    display: flex
    align-items: center
    height: 200px

    p
      text-align: center

    a, a:visited
      color: white

