.step
  text-align: center
  margin: 0 auto
  width: 100%
  max-width: 920px

  .step-top
    width: 100%
    background-color: $dark-gray
    border-radius: 8px
    font-size: 16px
    line-height: 24px
    padding: 28px 0

  .step-bottom
    width: 100%
    background-color: $blackish
    padding 20px 0
    border-radius: 8px

    button
      min-width: 90px
      height: 48px
      border: solid 2px $green
      border-radius: 35px
      color: $green
      background-color: $blackish
      font-size: 16px
      font-weight: 400
      line-height: 24px

      &[name="presence"]
        width: 220px
        height: 50px
        color: white
        background-color: $green
        border: none
        border-radius: 6px

    .btn-active
      background-color: $green
      color: white

  .cancel
    font-size: 20px
    font-weight: bold
    color: white
    min-width: initial
    width: 54px
    background-color: $blackish
    height: 48px
    border: solid 2px $green
    border-radius: 50%
    float: left
    margin: 64px 0 0 20px
    padding: 10px 0 0 0

    &:after
      content: 'Cancel'
      color: #555656
      font-size: 16px
      position: relative
      display: block
      margin-top: 16px

  .next
    float: right
    margin: 64px 20px 0
    width: 54px
    height: 48px
    font-size: 26px
    font-weight: bold
    border-radius: 50%
    padding: 10px 0 0 0

    &:after
      content: 'Next'
      color: #555656
      font-size: 16px
      position: relative
      display: block
      margin-top: 16px

  .presence
    background-color: $dark-gray
    border-radius: 8px

    button[data-reactid=".0.1.1.1.0.$presence.1.1:$0"]
      background-color: $button-green

.workflowButtons
  text-align: center
  margin: 50px auto 15px