.step
  text-align: center
  margin: 0 auto
  width: 100%
  max-width: 930px

  .step-top
    width: 100%
    background-color: $dark-gray
    border-radius: 8px
    font-size: 16px
    line-height: 24px
    padding: 20px 0
    -webkit-font-smoothing: antialiased
    position: relative
    z-index: 0

    @media screen and (max-width: 930px)
      width: 98%
      margin: 0 auto

    .step-question
      display: block

      @media screen and (max-width: 400px)
        max-width: 200px
        margin: 0 auto

      .question
        margin: 0
        line-height: 18px

        @media screen and (max-width: 480px)
          font-size: 14px

      .tip
        font-size: 12px
        margin: 10px 0 0
        line-height: 14px
        color: #555656

        .guide-link
          text-decoration: underline
          cursor: pointer

    .step-buttons
      position: absolute
      top: 24px
      right: 10px

      small
        font-size: 12px
        line-height: 12px
        color: #5c5c5c
        margin-right: 5px

        @media screen and (max-width: 700px)
          align-self: center
          margin-top: 10px

      @media screen and (max-width: 700px)
        display: inline-flex
        position: relative
        top: 10px
        right: 0
        justify-content: center

      .step-button
        background-color: $blackish
        width: 34px
        height: 34px
        border-radius: 100%
        color: #7d7d7d
        font-family: 'Nunito', sans-serif
        font-size: 16px
        font-weight: 400
        line-height: 24px
        margin: 0 5px

        &:hover
          background-color: rgba(17, 17, 17, 0.7)

        @media screen and (max-width: 400px)
          padding: 0

      .step-complete
        font-size: 0
        vertical-align: middle
        background: $green url(./assets/check-icon.svg) no-repeat center center
        background-size: 12px 9px

        &:hover
          background-color: rgba(34, 171, 116, 0.7)

      .step-active
        background-color: #555656
        color: white

        &:hover
          background-color: rgba(85, 86, 86, 0.7)

      span:last-child
        img
          display: none

  .step-bottom
    width: 100%
    background-color: $blackish
    padding 20px 0
    border-radius: 8px
    margin-top: -10px

    @media screen and (max-width: 930px)
      width: 98%
      margin: -10px auto

    .buttons-container
      max-width: 720px
      margin: 0 auto
      min-height: 70px

      @media screen and (max-width: 835px)
        max-width: 575px

    button
      min-width: 60px
      height: 30px
      border: solid 2px $green
      border-radius: 35px
      color: $green
      background-color: $blackish
      font-size: 12px
      font-weight: 400
      line-height: 24px
      margin: 5px
      padding: 0 10px

      &:hover
        background-color: rgba(17, 17, 17, 0.7)
        color: rgba(34, 171, 116, 0.7)
        border-color: rgba(34, 171, 116, 0.7)

      &.cancel, &.done
        position: relative
        font-size: 12px
        line-height: 12px
        color: #555656
        padding: 2px 6px 3px
        border: none
        margin: 10px
        height: 100%
        border-radius: 0px
        background-color: transparent

        &:before
          content: ''
          width: 39px
          height: 39px
          border: solid 2px $green
          border-radius: 50%
          position: relative
          display: block
          margin: 0 auto 5px

        &:hover:before
          background-color: rgba(17, 17, 17, 0.7)
          color: rgba(34, 171, 116, 0.7)
          border-color: rgba(34, 171, 116, 0.7)

        @media screen and (max-width: 450px)
          margin: 10px 5px
          top: -125px
          height: 75px
          z-index: 10

      &.cancel
        &:before
          background: $blackish url(./assets/cancel-icon.svg) no-repeat center center

        @media screen and (max-width: 450px)
          float: left
          order: 1

      &.done

        &.disabled:before
          background-color: transparent

        &:before
          background: $green url(./assets/check-icon.svg) no-repeat center center

        @media screen and (max-width: 450px)
          float: right
          order: 2

      // 'Nothing here', 'I see something', 'Add', 'Finish', and 'Next Subject' buttons
      &#presence-0, &#presence-1, &#annotation-0, &#annotation-1, &#annotation-2, &#summary-0
        max-width: 220px
        height: 80px
        color: white
        border: none
        display: inline-block
        margin: 0 10px
        font-size: 16px
        line-height: 65px

        &:before
          content: ''
          display: inline-block
          border-radius: 50%
          margin: 0 10px 0 0
          vertical-align: middle
          width: 39px
          height: 39px

        &:hover:before
          opacity: 0.7

        &:active
          background-color: $blackish

        &.nothing-disabled
          opacity: 0.3
          vertical-align: middle

          &:before
            opacity: 0.3

        @media screen and (max-width: 450px)
          width: 220px
          text-align: left
          margin: 5px 10px

      // add button
      &#annotation-1
        border-left: solid $gray 1px
        border-right: solid $gray 1px
        border-radius: 0px

        @media screen and (max-width: 600px)
          border: none

      &#annotation-2.finish-disabled
        color: #555656
        opacity: 0.3

      &#presence-0:before, &#annotation-0:before // 'Nothing here' buttons
        background: url(./assets/cancel-icon.svg) no-repeat center center
        border: solid 2px #c72c2c

      &#presence-1:before, &#annotation-2:before, &#summary-0:before // 'I see something' and 'Finish'
        background: url(./assets/arrow-icon.svg) no-repeat center center
        border: solid 2px $green

      // Add annotation button
      &#annotation-1:before
        background: $green url(./assets/add-icon.svg) no-repeat center center
        border: solid 2px $green

    .btn-active
      background-color: $green
      color: white

  .presence
    .step-bottom
      margin-top: 0
      padding: 5px 0

  .annotation
    .step-bottom
      margin-top: 0
      padding: 0

      .buttons-container
        margin: 0
        max-width: 100%
        display: flex

        @media screen and (max-width: 600px)
          flex-direction: column
          align-items: center

        button
          max-width: 310px !important
          width: 100%
          margin: 0 !important

          @media screen and (max-width: 600px)
            max-width: 220px !important
            text-align: left

  .animal, .age, .sex, .behavior
    .step-bottom
      display: flex
      align-items: center

      @media screen and (max-width: 450px)
        justify-content: space-between
        flex-wrap: wrap

        .buttons-container
          order: 3
          margin-top: -90px
          width: 100%

  .animal
    .buttons-container
      button
        text-transform: capitalize
        position: relative

        @media screen and (min-width: 769px)
          &:hover:after
            content: ''
            display: block
            position: absolute
            border: solid 4px $topbar-green
            border-radius: 50%
            background: $topbar-green
            width: 75px
            height: 75px
            bottom: 150%
            left: calc(50% - 40px)
            background-image: url(./assets/chimps-tooltip-sprite.jpg)

          &:hover:before
            z-index: 1001
            background: url(./assets/arrow-down.svg)
            content: ''
            position: absolute
            bottom: 100%
            width: 16px
            height: 16px
            left: 50%
            top: -20px
            margin-left: -7px

          &#animal-0:hover:after
            background-position: 0px 0px

          &#animal-1:hover:after
            background-position: 0px -75px

          &#animal-2:hover:after
            background-position: 0px -150px

          &#animal-3:hover:after
            background-position: 0px -225px

          &#animal-4:hover:after
            background-position: 0px -300px

          &#animal-5:hover:after
            background-position: 0px -375px

          &#animal-6:hover:after
            background-position: 0px -450px

          &#animal-7:hover:after
            background-position: 0px -525px

          &#animal-8:hover:after
            background-position: 0px -600px

          &#animal-9:hover:after
            background-position: 0px -675px

          &#animal-10:hover:after
            background-position: 0px -750px

          &#animal-11:hover:after
            background-position: 0px -820px

          &#animal-12:hover:after
            background-position: 0px -900px

          &#animal-13:hover:after
            background-position: 0px -975px

          &#animal-14:hover:after
            background-position: 0px -1050px

          &#animal-15:hover:after
            background-position: 0px -1650px

          &#animal-16:hover:after
            background-position: 0px -1125px

          &#animal-17:hover:after
            background-position: 0px -1200px

          &#animal-18:hover:after
            background-position: 0px -1275px

          &#animal-19:hover:after
            background-position: 0px -1350px

          &#animal-20:hover:after
            background-position: 0px -1425px

          &#animal-21:hover:after
            background-position: 0px -1500px

          &#animal-22:hover:after
            background-position: 0px -1725px

          &#animal-23:hover:after
            background-position: 0px -1575px

          &#animal-24:hover:after
            background-position: 0px -1800px

          &#animal-25:hover:after
            background-position: 0px -1875px

          &#animal-26:hover:after
            background-position: 0px -1950px

          &#animal-27:hover:after
            background-position: 0px -2025px

  .age, .sex
    .step-bottom .buttons-container
      margin-top: 30px

      @media screen and (max-width: 450px)
        margin-top: -60px

  .number
    .step-bottom
      padding: 0 0 20px

      .cancel, .done
        display: none

      .buttons-container
        min-height: 100%

  .summary
    .step-bottom
      margin: 0 auto 100px
      padding: 0

      .buttons-container
        max-width: 100%

        #summary-0
          float: right
          max-width: 310px !important
          width: 100%
          height: 70px
          margin: 0 !important

          @media screen and (max-width: 600px)
            max-width: 220px !important
            text-align: left

          @media screen and (max-width: 400px)
            text-align: center
            float: none
            padding: 0

