.step
  text-align: center
  margin: 0 auto
  width: 100%
  max-width: 930px

  .step-top
    width: 100%
    background-color: $dark-gray
    border-radius: 8px
    font-size: 16px
    line-height: 24px
    padding: 28px 0
    -webkit-font-smoothing: antialiased
    position: relative
    z-index: 1

    @media screen and (max-width: 930px)
      width: 98%
      margin: 0 auto

    .step-question
      display: block

      @media screen and (max-width: 480px)
        font-size: 14px

    .step-buttons
      position: absolute
      top: 20px
      right: 10px

      @media screen and (max-width: 600px)
        display: inline-flex
        position: relative
        top: 10px
        justify-content: center

      .step-button
        background-color: $blackish
        width: 34px
        height: 34px
        border-radius: 100%
        color: #7d7d7d
        font-size: 16px
        font-weight: 400
        line-height: 24px
        margin: 0 10px

      .step-complete
        font-size: 0
        vertical-align: middle
        background: $blackish url(./assets/check-green-icon.svg) no-repeat center center
        background-size: 12px 9px

      .step-active
        background-color: #555656
        color: white

      span:last-child
        img
          display: none

  .step-bottom
    width: 100%
    background-color: $blackish
    padding 20px 0
    border-radius: 8px
    margin-top: -10px

    @media screen and (max-width: 930px)
      width: 98%
      margin: 0 auto

    .buttons-container
      max-width: 680px
      margin: 0 auto

      @media screen and (max-width: 750px)
        max-width: 575px

    button
      min-width: 90px
      height: 48px
      border: solid 2px $green
      border-radius: 35px
      color: $green
      background-color: $blackish
      font-size: 16px
      font-weight: 400
      line-height: 24px

      // 'Nothing here', 'I see something', and 'Next Subject' buttons
      &#presence-0, &#presence-1, &#annotation-0, &#annotation-2
        width: 220px
        height: 70px
        color: #555656
        border: none
        display: inline-block
        margin: 0 10px
        line-height: 65px

        &.nothing-disabled
          font-size: 0
          vertical-align: middle
          cursor: not-allowed

          &:after
            opacity: 0.3

      // finish button
      &#annotation-2
        color: white

        &.finish-disabled
          color: #555656
          cursor: not-allowed

      &#presence-0:after, &#annotation-0:after
        content: ''
        display: block
        background: url(./assets/cancel-icon.svg) no-repeat center center
        width: 60px
        height: 60px
        border: solid 2px #c72c2c
        border-radius: 50%
        margin: 0
        float: right
      @media screen and (max-width: 560px)
        &#annotation-0:after
          display: none

        &#annotation-0:before
          content: ''
          display: block
          background: url(./assets/cancel-icon.svg) no-repeat center center
          width: 60px
          height: 60px
          border: solid 2px #c72c2c
          border-radius: 50%
          margin: 0
          float: left

      @media screen and (max-width: 479px)
        &#presence-0:after
          display: none

        &#presence-0:before
          content: ''
          display: block
          background: url(./assets/cancel-icon.svg) no-repeat center center
          width: 60px
          height: 60px
          border: solid 2px #c72c2c
          border-radius: 50%
          margin: 0
          float: left

      &#presence-1:before, &#annotation-2:before
        content: ''
        display: block
        background: url(./assets/check-icon.svg) no-repeat center center
        width: 60px
        height: 60px
        border: solid 2px $green
        border-radius: 50%
        margin: 0
        float: left

      // Add annotation button
      &#annotation-1
        color: white
        background: $green url(./assets/plus-icon.svg) no-repeat center center
        min-width: 60px
        width: 60px
        height: 60px
        border: solid 2px $green
        border-radius: 50%
        margin: 0 10px 5px
        padding: 0
        vertical-align: middle
        font-size: 0

        @media screen and (max-width: 560px)
          display: block
          margin: 0 auto

    .btn-active
      background-color: $green
      color: white

  .cancel, .next, .done
    position: relative
    top: 100px
    font-size: 16px

    @media screen and (max-width: 680px)
      top: 75px

    @media screen and (max-width: 600px)
      top: 0
      z-index: 10

    @media screen and (max-width: 450px)
      font-size: 14px
      margin: 25px 5px 5px

  .cancel
    color: #555656
    background-color: transparent
    float: left

    &:before
      content: ''
      background: $blackish url(./assets/cancel-icon.svg) no-repeat center center
      width: 54px
      height: 48px
      border: solid 2px $green
      border-radius: 50%
      position: relative
      display: block
      margin: 0 0 10px 0

      @media screen and (max-width: 450px)
        width: 44px
        height: 38px

  .next
    color: #555656
    background-color: transparent
    float: right

    &:before
      content: ''
      background: $green url(./assets/arrow-icon.svg) no-repeat center center
      width: 54px
      height: 48px
      border: solid 2px $green
      border-radius: 50%
      position: relative
      display: block
      margin: 0 0 10px 0

      @media screen and (max-width: 450px)
        width: 44px
        height: 38px

  .done
    color: #555656
    float: right
    background-color: transparent

    &.disabled:before
      background-color: transparent

  .done:before
    content: ''
    display: block
    background: url(./assets/check-icon.svg) no-repeat center center
    background-color: $green
    margin: 0 0 5px 0
    width: 54px
    height: 48px
    border: solid 2px $green
    border-radius: 50%

    @media screen and (max-width: 450px)
      width: 44px
      height: 38px

  .presence
    .step-bottom
      padding: 5px 0

.workflowButtons
  text-align: center
  margin: 50px auto 15px